html, body {
  margin: 0px;
  overflow: hidden;
  background-color: #b6b5af;
}

/* body {
  padding: 0 10px 0 10px;
  border: 1px solid green;
} */

#screen1, #screen2 {
  width: 100%;
  height: 100%;
  display: flex;
  position: absolute;
  align-items: center;
  justify-content: center;
  transform: translateX(-100%);
}

#sphere {
  width: 60vh;
  height: 60vh;
  position: absolute;
  background: #c5c2b6;
  border-radius: 0 0 100%;
}

#paper {
  background-color: rgba(212, 210, 204, 0.8);
  box-shadow: 10px 10px 20px 1px #8b8a87;
  border-radius: 20px;
  max-height: 720px;
  max-width: 360px;
  width: 90%;
  height: 90%;
  display: grid;
  position: absolute;
  overflow: hidden;
  align-content: center;
  justify-content: center;
}

#title {
  width: 100%;
  border-radius: 20px 20px 0 0;
  display: flex;
  justify-content: center;
  padding: 20px 0;
  position: absolute;
  top: 0px;
  font-size: 20px;
  color: white;
  background-color: #5d8aa8;
  font-family: Arial, Helvetica, sans-serif;
  /* box-shadow: 0 0 0 5px rgba(255, 255, 255, 0.5); */
}

#inputbuttons, #bottomInputbuttons {
  width: 200px;
  display: flex;
  margin: 0 auto;
  padding-top: 40px;
  justify-content: space-evenly;
}

#bottomInputbuttons {
  width: 100%;
  bottom: 40px;
  position: absolute;
}

#newTaskText, #currentTaskText {
  width: 200px;
  border: none;
  padding: 10px;
  margin: 0 auto;
  color: white;
  font-size: 20px;
  min-height: 130px;
  text-align: center;
  border-radius: 20px;
  transition-duration: 0.5s;
  background-color: #5d8aa8;
  box-shadow: 0 0 0 5px rgba(255, 255, 255, 0.5);
  font-family: Arial, Helvetica, sans-serif;
}

#newTaskText::placeholder, #currentTaskText::placeholder {
  color: rgba(255, 255, 255, 0.5);
}

#newTaskText:focus {
  outline: none;
  background-color: #054f77;
  box-shadow: 0 0 2px 10px #f5f5f5;
}

#currentTaskText {
  width: 200px;
  border: none;
  padding: 10px;
  margin: 0 auto;
  color: black;
  cursor: default;
  font-size: 20px;
  box-shadow: none;
  min-height: 130px;
  text-align: center;
  border-radius: 20px;
  pointer-events:none;
  background-color: #bfb5af;
  font-family: Arial, Helvetica, sans-serif;
}

#primaryButtonIcon, #secondaryButtonIcon {
  padding: 0;
  border: none;
  background-color: transparent;
}

#primaryButtonIcon svg, #primaryButton {
  width: 40px;
  fill: rgba(255, 255, 255, 0.5);
  border-radius: 100%;
  background-color: #5d8aa8;
  transition-duration: 0.2s;
  box-shadow: 0px 0px 0px 3px rgba(255, 255, 255, 0.5);
}

#primaryButtonIcon svg:hover, #primaryButton:hover {
  fill: #f5f5f5;
  background-color: #054f77;
  box-shadow: 0px 0px 0px 6px #f5f5f5;
}

#primaryButtonIcon svg:active, #primaryButton:active {
  fill: #054f77;
  color: #054f77;
  background-color: transparent;
  box-shadow: 0px 0px 0px 3px #054f77;
}

#secondaryButtonIcon svg, #secondaryButton {
  width: 40px;
  fill: #d3d1cb;
  border-radius: 100%;
  background-color: #5E6472;
  box-shadow: 0px 0px 0px 1px #5E6472;
}

#secondaryButtonIcon svg:hover, #secondaryButton:hover {
  background-color: #5E6472ca;
  box-shadow: 0px 0px 0px 1px #5E6472ca;
}

#secondaryButtonIcon svg:active, #secondaryButton:active {
  fill: #5E6472;
  color: #5E6472;
  background-color: transparent;
  box-shadow: 0px 0px 0px 1px #5E6472;
}

#primaryButton, #secondaryButton {
  border: none;
  width: 100px;
  height: 40px;
  color: #d3d1cb;
  font-weight: bold;
  border-radius: 10px;
}

@keyframes appear {
  0% {
    transform:
      translateX(-100%)
  }
  100% {
    transform:
      translateX(0)
  }
}

@keyframes disappear {
  0% {
    transform:
      translateX(0)
  }
  100% {
    transform:
      translateX(100%)
  }
}

/* #topInputbuttons {
  width: 100%;
  top: 20px;
  right: 20px;
  direction: rtl;
  position: fixed;
} */